[Desktop Entry]
Name=Asteroid Game Launcher
Icon=asgardius.page.asteroidlauncher
Exec=asteroid-game-launcher
Terminal=false
Type=Application
Categories=
StartupNotify=false
